
<md-card color="primary" class="card-margin" >        
  <md-card-header>
      <md-card-title><h2>Jobs</h2></md-card-title>        
    </md-card-header>
  <md-list>
    <div *ngFor="let job of jobs | async">
      <md-divider></md-divider> 
      <md-list-item  >
        <h4 class="line-margin" md-line><b>Job Title: </b> {{job.jobTitle}}</h4>
        <h4 class="line-margin" md-line><b>Salary: </b>{{job.salary}}</h4>
        <p class="line-margin" md-line><b>Job Description: </b>{{job.jobDescription}} </p>
        <button md-raised-button color="accent" class="app-button" [routerLink]="['../jobDetail']" (click)="viewDetail(job)">View</button>

        <button *ngIf="(user$ | async).accountType!=1" md-raised-button color="accent" (click)="deleteJob(job)" class="app-button">Delete</button>
        
      </md-list-item>      
    </div>
  </md-list>
</md-card>