.signup-input {
  width: 100%;
  margin-bottom: 20px;
}

.card-margin {
    margin: 20px;
}

.radio-margin {
    margin-right: 20px;
}

.company-info-area{
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.company-main-area{
    width: 100%;
    height: 100%;
    
}

.company-detail-area{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}